@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-family: "Public Sans", sans-serif;
  }

}

@layer components {
  .intro {
    background: url(./Assets/images/bg-intro-desktop.svg)no-repeat;
    background-size: cover;
    background-position: 510px -290px;
  }

  .introMobile {
    background: url(./Assets/images/bg-intro-mobile.svg)no-repeat;
    background-size: cover;
    background-position: center -190px;
  }
}